.seller-discount-remove-main-container {
    padding: 2.5% 1%;
    width: 100%;
}

.seller-discount-remove-row-container {
    background-color: #fffcfc;
    width: 55%;
    margin-left: 23%;
    margin-top: 8%;
    height: 280px;
    border-radius: 32px;
}

.seller-discount-remove-row-container .remove-discount-p{
    padding-top: 60px;
    padding-left: 140px;
    padding-bottom: 70px;
    font-size: 18px;
    font-weight:bold;
}

.seller-discount-remove-respond-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.seller-discount-remove-respond-option .seller-discount-remove{
    background-color: #f44336;
    color: white;
    border: 2px solid #f44336;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15%;
}

.seller-discount-remove-respond-option .seller-discount-remove-cancel{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid red;
    background-color: white;
    color: red;
    font-size: 18px;
    font-weight: bold;
}


.seller-discount-remove-cancel:hover{
    cursor: pointer;

}

.seller-discount-remove:hover{
    cursor: pointer;
}